Repository falcosecurity/plugin-sdk-go, pull requests merged in 2021-11, with the labels that each got.

#19 update: add accessor for field type in ExtractRequest
  pkg/sdk/extract.go
Labels: kind/feature, dco-signoff: yes, approved, release-note-none, lgtm, size/XS, area/plugin-sdk, kind/design, ok-to-test

#22 Increase the default event limit to 256k
  pkg/sdk/sdk.go
Labels: kind/bug, dco-signoff: yes, approved, release-note-none, lgtm, size/XS, area/plugin-sdk

#21 update(OWNERS): add jasondellaluce
  OWNERS
Labels: dco-signoff: yes, approved, needs-kind, release-note-none, lgtm, size/XS, ok-to-test

#28 Use uint64_t to prevent long/longlong confusion
  pkg/sdk/event.go
  pkg/sdk/extract.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, release-note, ok-to-test
